
*{
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
}
      

.banner{
    background-image: url(../image/WhatsApp\ Image\ 2025-04-13\ at\ 19.35.09_8c863c07.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    

}


    

    

.abi{
    padding-top: 300px;
}
