.banner{
    
    background-image: url(../image/cute-education-pink-mathematics-blank-paper-rubber-powerpoint-background_b6e8d248a2__960_540.avif) ;
    padding: 250px;
    background-size: cover;
    background-repeat: no-repeat;

}